@font-face {
  font-family: "SourceHanSerif";
  font-display: block;
  src: url("./assets/SourceHanSerif.ttf");
}

:root, body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.block-input,
.block-display {
  padding: 10px;
  font-family: "SourceHanSerif";
  font-size: 1.1em;
  display: flex;
  align-items: center;
}

.block-input > * + *,
.block-display > * + * {
  margin-left: 1em;
}
.block-input > input[type=text],
.block-display > input[type=text] {
  width: 300px;
  font-size: 1.1em;
  font-family: "SourceHanSerif";
}

.block-input > button,
.block-display > button {
  width: 100px;
  font-size: 1.1em;
  font-family: "SourceHanSerif";
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.input-area {
  height: 200px;
  padding: 10px 30px;
  overflow: auto;
  border-bottom: 1px solid #eee;
}

.text-area {
  flex: 1;
  overflow-x: auto;
  writing-mode: vertical-rl;
  font-family: "SourceHanSerif";
  font-weight: 600;
  font-size: 3em;
  line-height: 2em;
  color: #333;
  margin: 1em 0;
  padding: 0 1em;
  text-align: justify;
  position: relative;
}

.warichu {
  color: #1e3a8a;
}

.warichu > i {
  margin-top: 0.5em;
}

.warichu > i + i {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.warichu-placeholder {
  visibility: hidden;
  font-size: 0.66em;
  user-select: none;
}

.warichu-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 0.66em;
  line-height: 1em;
  transform: translateX(-0.5em);
}

.warichu-wrapper::before {
  content: "";
  width: max(var(--big-line-height), calc(100% - var(--big-line-height)));
  height: var(--before-height);
  float: left;
  clip-path: var(--polygon);
  shape-outside: var(--polygon);
  /* background-color: #f003; */
}

.warichu-text::before {
  content: "";
  float: right;
  width: var(--big-line-height);
  height: var(--end-bottom);
  /* background-color: #00f3; */
}